.home-back {
  background-image: url("https://staticpages.mngbcn.com/homes/images/ss23/she/julio/she_landing_nn_2407.jpg?imwidth=1349&imdensity=1");
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
