.register-block {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}
.signIn {
  text-decoration: underline;
  font-weight: 600;
  padding-left: 2%;
  cursor: pointer;
}
.register-block > input {
  height: 2rem;
  margin-bottom: 1%;
}
